* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #388837;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    outline: none;
    border-color: #5b8c5a;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5b8c5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #49794e;
}

.appointments-table {
    margin-top: 40px;
}

.appointments-table h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #388837;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #5b8c5a;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    font-weight: normal;
}

td:last-child {
    text-align: center;
}

.delete-btn {
    background-color: #c84b31;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: #a03725;
}
